@font-face{
    font-family: stopbuck;
    src: url(Stopbuck.ttf)
}
@font-face{
    font-family: mystic;
    src: url(BlacKMystique.ttf)
}
@font-face{
    font-family: remora;
    src: url(KelanoRemora.otf)
}


:root {
    background: linear-gradient(135deg, darkseagreen, palegreen);

}

body {
    background-color: var(--primary-color);
}

header, footer {
    background-color: azure;
    font-family: stopbuck;
}

header {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.titre{
    font-family: mystic;
    font-size: 70px;
}

legend, h4{
    font-family: remora;
}

.right {
    align-self: center;
    margin: 1em;
}

nav > ul {
    display:flex;
}

nav > ul > li {
    list-style-type: none;
    margin: 1em;
}

nav > ul > li > a {
    text-decoration: none;
    color: var(--primary-color);
}

nav > ul > li > a:visited {
    color: var(--primary-color);
}
.under {
    font-size: 0.8em;
    font-style: italic;
    margin: 0;
    margin-bottom: 0.5em;
}
h2{
    font-family: mystic;
    font-size: 40px;
}