@font-face{
    font-family: stopbuck;
    src: url(Stopbuck.ttf)
}
@font-face{
    font-family: mystic;
    src: url(BlacKMystique.ttf)
}
@font-face{
    font-family: remora;
    src: url(KelanoRemora.otf)
}


:root {
    background: linear-gradient(100deg, palegreen, seagreen);
}

body {
    background-color: var(--primary-color);
}

header, footer {
    background-color: lavender;
    font-family: stopbuck;


}

header {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
footer{
    margin-top: 10px;
}
.titre{
    font-family: mystic;
    font-size: 60px;
    color: darkmagenta;
}

legend, h4{
    font-family: remora;
}

.right {
    align-self: center;
    margin: 1em;
}

nav > ul {
    display:flex;
}

nav > ul > li {
    list-style-type: none;
    margin: 1em;
}

nav > ul > li > a {
    text-decoration: none;
    color: var(--primary-color);
}

nav > ul > li > a:visited {
    color: var(--primary-color);
}
.under {
    font-size: 0.8em;
    font-style: italic;
    margin: 0;
    margin-bottom: 0.5em;
}
h2{
    font-family: remora;
    font-size: 25px;
}
.rock{
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.avis{
    margin-top: 20px;
    font-family: mystic;
    font-size: 30px;
    font-weight: bold;
}
.byebye{
    font-family: remora;
    margin: 1em;
    display: block;
    justify-content: center;
    width: 50%;

}
